<form>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :number %><br>
    <%= f.text_field :number %>
  </p>
  <p>
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </p>
  <p>
    <%= f.label :explanation %><br>
    <%= f.text_area :explanation %>
  </p>
  <p>
    <%= f.label :bought %><br>
    <%= f.check_box :bought, {}, "true", "false"%>
  </p>
  <p>
    <% Category.all.each do |category| %>
      <%= check_box_tag "grocery[category_ids][]", category.id, @grocery.category_ids.include?(category.id) %>
      <%= category.name%>
    <% end %>
  </p>
    <%= f.submit class: 'btn btn-default btn-xs'%><br>
    <%= link_to "Back", groceries_path, class: 'btn btn-link btn-xs', class: 'glyphicon glyphicon-arrow-left aria-hidden="true"' %>
  </p>
</form>
