<tr>
  <% unless @category_filter %>
    <td><%= grocery.categories.map {|c| c.name}.join(', ') %></td>
  <% end %>
  <td> <%= grocery.name %></td>
  <td><%= grocery.number %></td>
  <td><%= grocery.explanation %></td>
  <td><%= grocery.bought ? 'yes' : 'no' %></td>
  <td>
    <%= form_for grocery, url: grocery_path(grocery), method: :patch  do |f| %>
      <%= f.check_box :bought, {}, "true", "false"%>
       <%= f.submit class: 'btn btn-default btn-xs'%><br>
    <% end %>
  </td>
  <td>
    <% if grocery.photo_file_name.present? %>
      <%= image_tag grocery.photo.url(:thumb) %>
    <% end %>
  </td>

  <td> <%= icon_link 'pencil', 'Edit', edit_grocery_path(grocery) %></td>
  <td> <%= icon_link 'trash', 'Destroy', grocery_path(grocery), method: :delete, data: { confirm: 'Are u sure'} %></td>

</tr>

