<tr>
  <td><%= grocery.categories.map {|c| c.name}.join(', ') %></td>
  <td> <%= grocery.name %></td>
  <td><%= grocery.number %></td>
  <td><%= grocery.explanation %></td>
  <td><%= grocery.bought %></td>
  <td><%= link_to 'Edit', edit_grocery_path(grocery),class: 'btn btn-link btn-xs', class: 'glyphicon glyphicon-pencil aria-hidden="true"' %> </td>
  <td><%= link_to 'Destroy', grocery_path(grocery), method: :delete, data: { confirm: 'Are u sure'}, class: 'glyphicon glyphicon-trash'%> </td>
</tr>
