<tr>
  <td><%= grocery.categories.map {|c| c.name}.join(', ') %></td>
  <td> <%= grocery.name %></td>
  <td><%= grocery.number %></td>
  <td><%= grocery.explanation %></td>
  <td><%= grocery.bought ? 'yes' : 'no' %></td>

  <td> <%= icon_link 'pencil', 'Edit', edit_grocery_path(grocery) %></td>
  <td> <%= icon_link 'trash', 'Destroy', grocery_path(grocery), method: :delete, data: { confirm: 'Are u sure'} %></td>

</tr>

