 <%= render_crumbs %>
<h1>Grocery List</h1>
<table class="table table-hover table-striped">
  <tr>
   <% unless @category_filter %>
    <th> Category </th>
   <% end %>
   <th> Name</th>
   <th> Number</th>
   <th> Explanation</th>
   <th> Bought</th>
   <th> Photo</th>
   <th> </th>
   <th> </th>

  <%= render partial: 'grocery', collection: @groceries %>
  </table>
  <%= icon_link 'plus', 'New grocery list', new_grocery_path %>
  <%= icon_link 'list', 'Category list', categories_path %>

 <% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end -%>
<%= icon_link 'home', 'Home', categories_path %>






