 <%= render_crumbs %>
<h1>Grocery List</h1>
<table class="table table-hover table-striped">
  <tr>
   <th> Category </th>
   <th> Name</th>
   <th> Number</th>
   <th> Explanation</th>
   <th> Bought</th>
   <th> </th>
   <th> </th>
  </tr>
   <th> </th>
   <th> </th>
  </tr>

  <%= render partial: 'grocery', collection: @groceries %>
  </table>
  <%= icon_link 'plus', 'New grocery list', new_grocery_path %>
  <%= icon_link 'list', 'Category list', categories_path %>

 <% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end -%>
<%= link_to "Home", categories_path, class: 'btn btn-link btn-xs', class: 'glyphicon glyphicon-home aria-hidden="true"' %>





