<%= link_to 'Groceries overview', groceries_path %>
<table class="table table-striped table-bordered table-condensed">
  <tr>
   <th> Category  .</th>
   <th> Name  .</th>
   <th> Number  .</th>
   <th> Explanation  .</th>
   <th> Bought  .</th>
  </tr>
  <tr>
    <td><%= @grocery.category %></td>
    <td> <%= @grocery.name %></td>
    <td><%= @grocery.number %></td>
    <td><%= @grocery.explanation %></td>
    <td><%= @grocery.bought %></td>
  </tr>
</table>
